# n8n Kurulum Ayarları
PORT=5678
PROTOCOL=http
SUBDOMAIN=localhost
GENERIC_TIMEZONE=Europe/Istanbul

# Webhook'ların doğru çalışabilmesi için n8n'in dış dünyaya açılan adresi
WEBHOOK_URL=http://localhost:5678/